#videowrapper {
 width: 670px;
}

#videowrapper  .even,
#videowrapper .odd {
  float:left;
  padding: 0px 5px;
  overflow: hidden;
  text-align: center;
  width: 30%;
}

#videowrapper .even {
  background-color: #d6dae1;
}

#videowrapper h4 {
  margin: 10px 5px 8px 5px;
}

.videothumb img {
   max-width: 180px;
   height: 100px;
}

div.videodesc {
   width: 110px;
   margin: 0 auto;
}

.video-download-block {
margin-top: 10px;
                        }

.video-downloadlinks-urllist {
  list-style-type: none;
  margin: 0 0 0 -40px;
}

.video-downloadlinks-urllist li {
  float: left;
  margin-right: 25px;                                  
 }

/* portlet layout */

.portletFeaturedVideo {
  /*position it centered under the content */                        
  height: 138px;
  margin: 0 30%;
  clear: both;
}

.portletFeaturedVideo featuredVideos {
  width: 500px;
}

.portletFeaturedVideo .portletHeader {
  width: 200px;
  margin: 0 20%;
}

.portletFeaturedVideo .portletHeader span {
  display: block;                                            
  width: 200px;
  margin: 0 20%;
}

.featuredVideos .portletItem {
  float: left;
}

.featuredVideos .portletItem div {
  width: 100px;
  overflow: hidden;
  white-space: nowrap;
}
                    
